<?php
require_once('config.php');
// Main config file 
	// Database parameters
	define('db_host', 'localhost'); // Database host
	define('db_user', 'root'); // Database username
	define('db_pass', ''); // Database password
	define('db_name', 'localgreenery'); // Database name
	
	// Mail Parameters
	define('selleremail', 'nomadliam@mash-heads.co.cc'); // Emails will be sent to this email
	define('fromemail', 'localgreenery@mash-heads.co.cc'); // Emails will be sent from this email address
?>
